

.post{
    display:flex;
    align-items: flex-start;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--twitter-background);
}

.post__body > img{
    border-radius: 2px;
    width:100%; 
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .post__badge {
      color: var(--twitter-color);
      font-size: 20px !important;
  }
  .post__headerSpecial{
      font-weight: 600;
      color: gray;
      font-size:12px;

  }
  .post__headerDesc{
      margin-bottom: 10px;
      font-size: 15px;

  }
.post_body{
    padding: 10px;
    flex:1;

}
.post__avatar{
    padding:20px;
}

img {
    width:100%
}